<html>

<head>
    <meta charset="UTF-8">
    <title>RentSmart</title>
    <!-- Load the Vue.js as a JavaScript library -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .card {
        display: inline-block !important;
        margin-left: 10px;
        width: 20rem;
    }

    .top {
        margin-left: 10px;
        margin-top: 10px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<body>
    <div id="display">
        <div class="top">
            <h1>RentSmart</h1>
            <strong>Search Bar</strong>
            <input type="text" placeholder="NW1 - NW11" v-model.trim=postCode>
            <button @click="search" class="fas fa-search-location 1x"></button>
            <button @click="displayAllRooms">Display All Rooms</button>
            <p>You searched for '{{postCode}}'</p>
        </div>

        <h4>Sort by Price</h4>
        <input type="radio" value="ascending" name="order" v-model=sortingOrder>
        <label>Ascending</label><br>
        <input type="radio" value="descending" name="order" v-model=sortingOrder>
        <label>Descending</label>
        <ul>
            <div class="card" v-for="(room, rooms) in sortedRooms">
                <img class="card-img-top" v-bind:src="room.image_url" alt="Card image cap" width="150px" height="150px">
                <div class="card-body">
                    <p class="card-title"><b>Description: </b>{{room.description}}</p>
                    <p class="card-text"><b>Rent: </b>£ {{room.rent}}</p>
                    <a v-bind:href="room.website_url" class="btn btn-primary">view AD</a>
                </div>
            </div>
        </ul>
    </div>
</body>
<script>

    let app = new Vue({
        el: "#display",
        data: {
            postCode: "",
            rooms: [],
            sortingOrder: "",
        },

        methods: {
            async search() {
                this.rooms.length = 0;
                if (this.postCode.match(/^(NW1|NW2|NW3|NW4|NW5|NW6|NW7|NW8|NW9|NW10|NW11)$/)) {
                    let result = await fetch("http://localhost:8080/rooms/" + this.postCode);
                    let usrArr = await result.json();
                    for (let i = 0; i < usrArr.length; i++) {
                        this.rooms.push({ description: usrArr[i].description, rent: usrArr[i].rent, image_url: usrArr[i].image_url, website_url: usrArr[i].website_url});
                    }
                }
                else {
                    alert("Enter postcode between NW1-NW11");
                    this.$forceUpdate();
                    this.rooms.length = 0;
                }
            },
            async displayAllRooms() {
                this.$forceUpdate();
                this.rooms.length = 0;
                this.postCode = "All Rooms";
                let result = await fetch("http://localhost:8080/rooms");
                let usrArr = await result.json();
                for (let i = 0; i < usrArr.length; i++) {
                    this.rooms.push({ description: usrArr[i].description, rent: usrArr[i].rent, image_url: usrArr[i].image_url, website_url: usrArr[i].website_url });
                }
            }
        },
        computed: {
            sortedRooms() {
                        if (this.sortingOrder == "ascending") {
                            function compare(a, b) {
                                if (a.rent < b.rent)
                                    return -1;
                                if (a.rent > b.rent)
                                    return 1;
                                return 0;
                            }
                        }
                        else if (this.sortingOrder == "descending") {
                            function compare(a, b) {
                                if (a.rent > b.rent)
                                    return -1;
                                if (a.rent < b.rent)
                                    return 1;
                                return 0;
                            }
                        }
                return this.rooms.sort(compare);
            }
        }
    })
</script>

</html>
