<html>

<head>
    <meta charset="UTF-8">
    <title>RentSmart</title>
    <!-- Load the Vue.js as a JavaScript library -->
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="display">
        <!--Navigation bar-->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="theName">
                <a href="index.html">RentSmart</a>
            </div>
            <li class="nav-item">
                <div class="wrap">
                    <!--search bar-->
                    <div class="example">
                        <input type="text" placeholder="Enter Postcode between NW1 - NW11" v-model.trim=postCode
                            id="search">
                        <button @click="resetAndSearch" class="fa fa-search"></button>
                    </div>
                </div>
            </li>
            <!--buttons-->
            <button type="button" @click="displayAllRooms" class="btn btn-primary" id="button-displayAllRooms">
                Display All Rooms
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#help">
                Help
            </button>
            <div id="help" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div id="bk" class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title" style="text-align:center; font-size: 30px; font-family: Harabara">
                                Help</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <h4>⌚How to use the website</h4>
                            <br>
                            <p>⦿Enter post codes between 'NW1' and 'NW11' in the search bar</p>
                            <p>⦿All resulting rooms in that post code that are avaiable for rent will be displayed</p>
                            <p>⦿Description/Address and monthly rent price can be viewed for each room</p>
                            <p>⦿Clicking on 'view AD' will open the ad in the original website</p>
                            <p>⦿Clicking 'Display Rooms' will display all room in north west london</p>
                        </div>

                        <!-- Modal footer content -->
                        <div class="modal-footer">
                            <p style="text-align: center; color: green"><span id="ErrorMessages"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--sorting and search value display-->
        <div class="row">
            <div class="col" id="searchText">
                <h5>You searched for '{{postCode}}'</h5>
            </div>
            <div class="col" id="sort">
                <strong>Sort</strong>
                <select v-model=sortingOrder id="">
                    <option disabled value="">None</option>
                    <option>Ascending</option>
                    <option>Descending</option>
                </select>
            </div>
        </div>
        <div v-show=blankPage>
            <!--carousel-->
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/gumtree.jpeg">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/zoopla.jpeg">

                    </div>
                    <div class="carousel-item">
                        <img src="/images/openrent.png">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/rightmove.png">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <br><br><br>
        </div>
        <div class="body">
            <ul>
                <!--display rooms from array-->
                <div class="card" v-for="(room, rooms) in sortedRooms">
                    <img class="card-img-top" v-bind:src="room.image_url" alt="Card image cap" width="150px"
                        height="150px">
                    <div class="card-body">
                        <p class="card-title"><b>Description: </b>{{room.description}}</p>
                        <p class="card-text"><b>Rent: </b>£ {{room.rent}}</p>
                        <a v-bind:href="room.website_url" class="btn btn-primary">view AD</a>
                    </div>
                </div>
            </ul>
            <!--pagination-->
            <span id="pagination" v-if="showPagination">
                <button @click="decreaseOffset" :disabled="firstPage" class="fas fa-chevron-circle-left"></button>
                <button @click="increaseOffset" :disabled="lastPage" class="fas fa-chevron-circle-right"></button>
            </span>
        </div>
        <!--footer-->
        <div class="row" id="footer">
            <div class="col" id="footerColumn">
                <h3><b>RentSmart</b></h3>
                <p><a href="#">contact us</a><br><a href="#">about Us</a></p>
            </div>
            <div class="col" id="footerColumn">
                <h3><b>Rules and Guidlines</b></h3>
                <p><a href="#">privacy policy</a><br><a href="#">copyright</a></p>
            </div>
            <div class="col" id="footerColumn">
                <h3><b>What is RentSmart</b></h3>
                <p>our vision is to be your go-to website that you can always count on when comparing rent prices for
                    properties in NW London<br></p>
            </div>
        </div>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#display",
        data: {
            postCode: "",
            rooms: [],
            sortingOrder: "",
            offset: 0,
            lastpage: false
        },

        methods: {
            resetAndSearch() {
                this.offset = 0;
                this.lastpage = false;
                this.search();
            },
            //search for rooms
            async search() {
                this.rooms.length = 0;
                if (this.postCode.match(/^(NW1|NW2|NW3|NW4|NW5|NW6|NW7|NW8|NW9|NW10|NW11)$/)) {
                    let result = await fetch("http://localhost:8080/rooms/" + this.postCode + "?offset=" + this.offset);
                    let usrArr = await result.json();
                    for (let i = 0; i < usrArr.length; i++) {
                        this.rooms.push({ description: usrArr[i].description, rent: usrArr[i].rent, image_url: usrArr[i].image_url, website_url: usrArr[i].website_url });
                    }
                    if (usrArr.length < 20) {
                        this.lastpage = true;
                    }
                }
                else {
                    alert("Enter postcode between NW1-NW11");
                    this.$forceUpdate();
                    this.rooms.length = 0;
                }
            },
            async displayAllRooms() {
                this.$forceUpdate();
                this.rooms.length = 0;
                this.postCode = "All Rooms";
                let result = await fetch("http://localhost:8080/rooms");
                let usrArr = await result.json();
                for (let i = 0; i < usrArr.length; i++) {
                    this.rooms.push({ description: usrArr[i].description, rent: usrArr[i].rent, image_url: usrArr[i].image_url, website_url: usrArr[i].website_url });
                }
            },
            increaseOffset() {
                this.offset = this.offset + 20;
                this.search();
            },
            decreaseOffset() {
                if (this.offset != 0) {
                    this.offset = this.offset - 20;
                    this.search();
                }
                this.lastpage = false;
            },
        },
        computed: {
            //sorting
            sortedRooms() {
                if (this.sortingOrder == "Ascending") {
                    function compare(a, b) {
                        if (a.rent < b.rent)
                            return -1;
                        if (a.rent > b.rent)
                            return 1;
                        return 0;
                    }
                }
                else if (this.sortingOrder == "Descending") {
                    function compare(a, b) {
                        if (a.rent > b.rent)
                            return -1;
                        if (a.rent < b.rent)
                            return 1;
                        return 0;
                    }
                }
                return this.rooms.sort(compare);
            },
            firstPage() {
                return this.offset == 0;
            },
            lastPage() {
                return this.lastpage;
            },
            showPagination() {
                return this.rooms.length != 0 & this.postCode != "All Rooms";
            },
            blankPage() {
                return this.rooms.length == 0
            }
        },

    })
</script>

</html>